In [1]:
from combineData import *
mainDataset = combineDatasets()

mainDataset.to_csv("main.csv", index=False)

0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)

In [4]:
mainDataset

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_country,horse_type,horse_rating,...,distance,going,config,horse_ratings,prize,race_class,place_combination1,place_combination2,place_combination3,place_combination4
0,0,1,3917,10,0,8.00,3,AUS,Gelding,60,...,1400,GOOD TO FIRM,A,40-15,485000.0,5,8,11,6.0,NaN
1,0,2,2157,8,0,5.75,3,NZ,Gelding,60,...,1400,GOOD TO FIRM,A,40-15,485000.0,5,8,11,6.0,NaN
2,0,3,858,7,0,4.75,3,NZ,Gelding,60,...,1400,GOOD TO FIRM,A,40-15,485000.0,5,8,11,6.0,NaN
3,0,4,1853,9,0,6.25,3,SAF,Gelding,60,...,1400,GOOD TO FIRM,A,40-15,485000.0,5,8,11,6.0,NaN
4,0,5,2796,6,0,3.75,3,GB,Gelding,60,...,1400,GOOD TO FIRM,A,40-15,485000.0,5,8,11,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,10,1238,6,0,1.25,5,AUS,Gelding,87,...,1600,GOOD,A,100-80,1750000.0,2,2,4,8.0,NaN
79443,6348,11,985,7,0,2.25,5,NZ,Gelding,84,...,1600,GOOD,A,100-80,1750000.0,2,2,4,8.0,NaN
79444,6348,12,3147,10,0,3.00,5,NZ,Gelding,83,...,1600,GOOD,A,100-80,1750000.0,2,2,4,8.0,NaN
79445,6348,13,1982,8,0,2.50,3,AUS,Gelding,82,...,1600,GOOD,A,100-80,1750000.0,2,2,4,8.0,NaN
79446,6348,14,3491,11,0,4.25,3,IRE,Gelding,81,...,1600,GOOD,A,100-80,1750000.0,2,2,4,8.0,NaN

In [3]:
runs.iloc[17,:]

race_id                          1
horse_no                         4
horse_id                       905
result                           3
won                              0
lengths_behind                2.25
horse_age                        3
horse_country                  AUS
horse_type                 Gelding
horse_rating                    60
horse_gear                      --
declared_weight               1168
actual_weight                  126
draw                            11
position_sec1                   14
position_sec2                   14
position_sec3                    3
position_sec4                  NaN
position_sec5                  NaN
position_sec6                  NaN
behind_sec1                   6.75
behind_sec2                      8
behind_sec3                   2.25
behind_sec4                    NaN
behind_sec5                    NaN
behind_sec6                    NaN
time1                        25.13
time2                        22.84
time3                        22.75
time4                          NaN
time5                          NaN
time6                          NaN
finish_time                  70.72
win_odds                        12
place_odds                     3.3
trainer_id                      29
jockey_id                       18
race_size                       14
date                    8.6521e+17
venue                           ST
race_no                          2
distance                      1200
going                 GOOD TO FIRM
config                           A
horse_ratings                40-15
prize                       485000
race_class                       5
place_combination1               5
place_combination2              13
place_combination3               4
place_combination4             NaN
Name: 17, dtype: object