In [1]:
from feature_functions import *

In [2]:
runs

,race_id,horse_no,horse_id,result,won,lengths_behind,horse_age,horse_country,horse_type,horse_rating,...,time2,time3,time4,time5,time6,finish_time,win_odds,place_odds,trainer_id,jockey_id
0,0,1,3917,10,0,8.00,3,AUS,Gelding,60,...,21.59,23.86,24.62,NaN,NaN,83.92,9.7,3.7,118,2
1,0,2,2157,8,0,5.75,3,NZ,Gelding,60,...,21.99,23.30,23.70,NaN,NaN,83.56,16.0,4.9,164,57
2,0,3,858,7,0,4.75,3,NZ,Gelding,60,...,21.59,23.90,24.22,NaN,NaN,83.40,3.5,1.5,137,18
3,0,4,1853,9,0,6.25,3,SAF,Gelding,60,...,21.83,23.70,24.00,NaN,NaN,83.62,39.0,11.0,80,59
4,0,5,2796,6,0,3.75,3,GB,Gelding,60,...,21.75,23.22,23.50,NaN,NaN,83.24,50.0,14.0,9,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79442,6348,10,1238,6,0,1.25,5,AUS,Gelding,87,...,23.98,23.53,22.52,NaN,NaN,96.17,99.0,NaN,73,40
79443,6348,11,985,7,0,2.25,5,NZ,Gelding,84,...,24.10,23.77,22.61,NaN,NaN,96.30,99.0,NaN,164,63
79444,6348,12,3147,10,0,3.00,5,NZ,Gelding,83,...,24.06,23.37,22.43,NaN,NaN,96.44,99.0,NaN,111,68
79445,6348,13,1982,8,0,2.50,3,AUS,Gelding,82,...,24.02,23.45,22.29,NaN,NaN,96.34,4.6,NaN,118,95
79446,6348,14,3491,11,0,4.25,3,IRE,Gelding,81,...,24.06,23.77,23.10,NaN,NaN,96.63,99.0,NaN,27,4

In [3]:
addJockeyRecord()
addGoingType()
addGoingTypeRecord()
oneHotEncodeRunVal("horse_type")
oneHotEncodeRunVal("horse_country")
addWeightDifference()
scaleWeights()
addWinPercent()
addTimeForDistance()
addHorseRaces()

Adding jockey record ...
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding going type ...
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding going record ...
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding one hot encoded horse_type ...
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding one hot encoded horse_country ...
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding weight difference ...
0/79447 (0.000%)
5000/79447 (6.294%)
10000/79447 (12.587%)
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
35000/79447 (44.055%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding jockey record ...
Adding win percent ...
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding time for distance ...
15000/79447 (18.881%)
20000/79447 (25.174%)
25000/79447 (31.468%)
30000/79447 (37.761%)
40000/79447 (50.348%)
45000/79447 (56.642%)
50000/79447 (62.935%)
55000/79447 (69.229%)
60000/79447 (75.522%)
65000/79447 (81.816%)
70000/79447 (88.109%)
75000/79447 (94.403%)
Adding number of horse races ...

In [4]:
runs.columns

Index(['race_id', 'horse_no', 'horse_id', 'result', 'won', 'lengths_behind',
       'horse_age', 'horse_country', 'horse_type', 'horse_rating',
       'horse_gear', 'declared_weight', 'actual_weight', 'draw',
       'position_sec1', 'position_sec2', 'position_sec3', 'position_sec4',
       'position_sec5', 'position_sec6', 'behind_sec1', 'behind_sec2',
       'behind_sec3', 'behind_sec4', 'behind_sec5', 'behind_sec6', 'time1',
       'time2', 'time3', 'time4', 'time5', 'time6', 'finish_time', 'win_odds',
       'place_odds', 'trainer_id', 'jockey_id', 'jockey_record', 'going_type',
       'going_type_record', 'horse_type_Brown', 'horse_type_Colt',
       'horse_type_Filly', 'horse_type_Gelding', 'horse_type_Grey',
       'horse_type_Horse', 'horse_type_Mare', 'horse_type_Rig',
       'horse_type_Roan', 'horse_country_ARG', 'horse_country_AUS',
       'horse_country_BRZ', 'horse_country_CAN', 'horse_country_FR',
       'horse_country_GB', 'horse_country_GER', 'horse_country_GR',
       'horse_country_IRE', 'horse_country_ITY', 'horse_country_JPN',
       'horse_country_NZ', 'horse_country_SAF', 'horse_country_SPA',
       'horse_country_USA', 'horse_country_ZIM', 'weight_difference',
       'actual_scaled_weight', 'declared_weight_scaled', 'win_percent',
       'avg_distance_time', 'horse_race_count'],
      dtype='object')

In [5]:
runs.to_csv("runs_1.csv", index=False)